PyYAML==6.0.1
first==2.0.2
jmespath==1.0.1
jsonschema==4.18.4
#kdl-py@ https://github.com/sthagen/kdl-py/archive/refs/tags/v0.1.5.1-fork.tar.gz
lxml==4.9.3
msgspec==0.17.0
toml==0.10.2
typer==0.9.0
xmlschema==2.4.0
