PyYAML==6.0
first==2.0.2
jmespath==1.0.1
jsonschema==4.17.3
#kdl-py@ https://github.com/sthagen/kdl-py/archive/refs/tags/v0.1.5.1-fork.tar.gz
lxml==4.9.2
msgspec==0.15.0
toml==0.10.2
typer==0.9.0
xmlschema==2.2.3
